@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  //background-color: #5f91e2;
  background-image: url("../img/pexels.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: #0a0a0a;
}
footer {
  background-color: #20242D;
  color: white;
}
footer a {
  color: #fff;
}
.logo, .logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*NAVBAR*/
.top-bar{
  justify-content: center;
}
#main-menu > div {
  width: 100%;
  text-align: center;
  background-color: #e6e6e6;
}
#main-menu ul li a {
  font-weight: bold;
}

/*HEADER*/
.logo-text p {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}
.logo-text span {
  color: #000;
  font-size: 28px;
}

/*INDEX*/
.background-img {
	background: url("../img/stadion.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

/*LOGIN*/
.alert-box {
  padding-right: 3.25rem;
  width: 100%;
}

.alert-box.callout {
  color: #fefefe;
  font-weight: bold;
}

.alert-box.alert {
  border: 3px solid #cc4b37;
  border-radius: 5px;
  background-color: rgba(204, 75, 55, 0.2);
}

.alert-box.warning {
  border: 3px solid #ffae00;
  border-radius: 5px;
  background-color: rgba(255, 174, 0, 0.2);
}
.alert-box i {
  border: 2px solid #fefefe;
  border-radius: 50%;
  padding: .3em .325em;
  margin-right: 0.5rem;
}

.alert-box .close-button {
  color: rgba(254, 254, 254, 0.5);
  font-size: 2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1rem;
  font-weight: bold;
}

/*CONTACT*/
.contact-text h2 {
  font-weight: bold;
}
.white {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
}
#googleMap {
  margin-bottom: 30px;
}
.contact-info {
  list-style-type: none;
}
.contact-info li a:hover {
  color: #fff;
}
/*DASHBOARD*/
.side-nav{
  height:100vh;
  background-color:#111;
  opacity: 0.9;
  padding-top:60px;
}
.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  transition:0.3s;
}
.side-nav a:hover{
  color:#fff;
}
#dashboard-main{
  padding:20px;
}
/*CLUB-INDEX*/
.fa-trash {
  color: red;
}


